# Caché de Python
__pycache__/
*.pyc

# Entornos virtuales
.venv/
env/

# Archivos del sistema (Windows)
Thumbs.db
desktop.ini
.DS_Store

# Dependencias de JavaScript (por si las usas luego)
node_modules/

# Archivos compilados de Typst u otros documentos
*.pdf

# Ignorar la carpeta segura
ms/

# Archivos de Microsoft Excel
*.xlsx
*.xls
*.xlsm
*.xltx
*.xltm

# Archivos de Microsoft Word
*.docx
*.doc
*.dotx
*.docm

# Archivos temporales ocultos de Office (evita que se suban mientras están abiertos)
~$*.docx
~$*.doc
~$*.xlsx
~$*.xls